[submodule "glfw"]
	path = modules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "serial-com"]
	path = modules/serial-com
	url = https://github.com/abinash18/serial-com.git
[submodule "imgui"]
	path = modules/imgui
	url = https://github.com/abinash18/imgui.git
[submodule "modules/imgui"]
	branch = master
[submodule "toolchain/compilers/osxcross"]
	path = toolchain/compilers/osxcross
	url = https://github.com/tpoechtrager/osxcross.git
[submodule "osxcross"]
	path = modules/osxcross
	url = https://github.com/tpoechtrager/osxcross.git
