[submodule "modules/serial-com"]
	path = modules/serial-com
	url = https://github.com/abinash18/serial-com.git
[submodule "modules/AEngine"]
	path = modules/AEngine
	url = git@github.com:abinash18/AEngine-CPP.git
